<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | Movie Quiz</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer src="{{url_for('static', filename='js/JS.js')}}"></script>
    <script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
  {% block head %} {% endblock %}
    <nav class="nav">
        <div class="bar-title">
        <i class="fa fa-fw fa-film"></i> Movie Quiz</a>
        </div>
        <a href="#" class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <div class="nav-links">
            <ul>
                {% if current_user.is_anonymous %}
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
				<li><a href="{{url_for('music')}}">music</a></li>
                {%elif current_user.is_admin == True %}
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('quizSelector') }}">Quiz Selector</a></li>
                <li><a href="{{ url_for('createQuiz') }}">Create Quiz</a></li>
                <li><a href="{{ url_for('assess') }}">Assess Quiz</a></li>
                <li><a href="{{ url_for('profile', username= current_user.username) }}">Profile</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('quizSelector') }}">Quiz Selector</a></li>
                <li><a href="{{ url_for('profile', username= current_user.username) }}">Profile</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</head>

<body>

    {% block content %}{% endblock %}

</body>

</html>